--- 
--- 

@import "{{ site.theme }}";

.extension-link {
    color: #B5E853
}

body {
    padding-bottom: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

footer {
    color: #B5E853;
    text-align: center;
}
header h1:before {
    content: "";
}
// header{
//     position: sticky;
//     top: 5px;
// }
header h1 {
    margin: 0 0 0 0px;
}

.progressBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background: greenyellow;
    width: 0%;
    z-index: 100;
    transition: width 0.2s ease-out;
}