---
---

@import "{{ site.theme }}";

.extension-link{
    color: #B5E853
}
body{
    padding-bottom: 15%;
}
footer{
    color: #B5E853;
    text-align: center;
}
header h1:before{
    content: "";
}
header h1{
    margin: 0 0 0 0px;
}


